<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Groupings run SmokeTest">
    <groups>
     <run>
       <include name="Smoke"></include>
     </run>
    </groups>
    <classes>
      <class name="Grouos.Grouping"/>
    </classes>
  </test>

 <test thread-count="5" name="Groupings run RegressionTest">
 <groups>
     <run>
       <include name="Regression"></include>
       <include name="Weekly_Build"></include>
     </run>
 </groups>
    <classes>
      <class name="Grouos.Grouping"/>
    </classes>
  </test>
 
</suite> 
